extends layout

block content
    script(src='/js/chart.js')
    script(src='/js/select.js')
    div(class='row')
        div(class='col-1')
        div(class='col-')
            h1 #{title}
    div(class='row')
        div(class='col-1')
        div(class='col-')
            include messages
    div(class='row')
        div(class='col-sm-1')
            i(class='fas fa-temperature-high')
        div(class='col-sm-10')
            div(class='card')
                div(class='card-body')
                    div(class='row')
                        div(class='col-sm-4')
                            div(class='custom-control custom-switch')
                                input(type='checkbox' class='custom-control-input' id='o1s1' onclick='selectToggler()' checked=turn) 
                                label(class='custom-control-label' for='o1s1') Тепло (ON/OFF)                              
                        div(class='col-sm-4')
                            div
                                label(id='o1s1tl' for='o1s1t') Temp (0-30): #{temp}
                                input(type='range' class='custom-range' min='0' max='30' value=temp id='o1s1t' onchange='selectRange("o1s1tl", "o1s1t", "Temp (0-30): ")')                           
                        div(class='col-sm-4')
                            div
                                label(id='o1s1dl' for='o1s1d') Delta (1-5): #{delta}
                                input(type='range' class='custom-range' min='1' max='5' value=delta id='o1s1d' onchange='selectRange("o1s1dl", "o1s1d", "Delta (1-5): ")')                                               
    div(class='row')
        div(class='col-sm-1')
        div(class='col-sm-10')           
            div(class='card')
                div(class='card-body')
                    div(class='btn-group btn-group-sm' role='group' aria-label='buttons')
                        button(type='button' id='yearchart' class='btn btn-unique btn-pink btn-sm' onclick='filterChart("y")') Y
                        button(type='button' id='monthchart' class='btn btn-unique btn-green btn-sm' onclick='filterChart("m")') M
                        button(type='button' id='weakchart' class='btn btn-unique btn-amber btn-sm' onclick='filterChart("w")') W
                        button(type='button' id='daychart' class='btn btn-unique btn-red btn-sm' onclick='filterChart("d")') D
                    canvas(id='lineChart')
                    script(type="text/javascript").
                        filterChart('d')
    div(class='row')
        div(class='col-sm-1')
        div(class='col-sm-10')
            div(class='card')
                div(class='card-body')
                    button(type='button' class='btn btn-info btn-rounded' data-toggle='collapse' data-target='#detail') Данные
                    div(id="detail" class="collapse in" aria-expanded="true")
                        table(class='table')
                            thead
                                tr
                                    th(scope='col') TIME
                                    th(scope='col') NAME
                                    th(scope='col') DATA
                            tbody
                            each entry in entries.length ? entries : ['There are no values']
                                tr
                                    td #{entry.timestamp}
                                    td #{entry.name}
                                    td #{entry.value} 

                